<% if @error.present? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Erro!</h4>
    <p><%= @error %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% else %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Sucesso!</h4>
    <p><%= @message %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<%= link_to 'Voltar para a importação de boletos', new_batch_path, class: 'btn btn-primary mt-3' %>
